# -----------------------------------------------------------------------------
# Author: Simone Machetti
# -----------------------------------------------------------------------------

hw/imp/0_sim_modelsim/work
hw/imp/0_sim_modelsim/output

hw/imp/0_sim_verilator/build
hw/imp/0_sim_verilator/output

hw/imp/1_syn_yosys/report
hw/imp/1_syn_yosys/output

hw/imp/2_post-syn-sta_opensta/report
hw/imp/2_post-syn-sta_opensta/output

hw/imp/3_post-syn-sim_modelsim/work
hw/imp/3_post-syn-sim_modelsim/output

hw/imp/3_post-syn-sim_verilator/build
hw/imp/3_post-syn-sim_verilator/output

hw/imp/4_post-syn-dpa_opensta/report
hw/imp/4_post-syn-dpa_opensta/output
