# -----------------------------------------------------------------------------
# Author: Simone Machetti
# -----------------------------------------------------------------------------

/sim
/imp
/doc/charts/*/*.png
/doc/data/*
/doc/diagrams/*.excalidraw
__pycache__
